<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <script type="text/javascript" src="./axios.js"></script>-->
<!--    <script type="text/javascript" src="./jquery-2.1.0.js"></script>-->
    <title>Document</title>
</head>
<body>
    <form action="say" method="post">
        <input name="word" type="text" placeholder="请输入" />
        <input type="submit" value="翻译" />
    </form>

<!--    <div>-->
<!--        <span th:text="${info}"></span>-->
<!--    </div>-->
</body>
<!--<div style="background:gray;">-->
<!--    <div id="app" style="text-align:center;">-->
<!--        <h1>中英文翻译</h1>-->
<!--        <input name="Word" id="Word" />-->
<!--        <button onClick="btn();">查询</button>-->
<!--        <br/><br/>-->
<!--        <textarea id="area" style="width:200px;height: 200px;" th:text="${info}}"></textarea>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--<script type="text/javascript">-->
<!--function btn() {-->
<!--    var Word= document.getElementById("Word").value;-->
<!--    //alert(Word)-->
<!--    //debugger-->
<!--    axios.get('http://localhost:8080/say',-->
<!--        {-->
<!--    params: {-->
<!--    Word: Word,-->
<!--       }-->
<!--}-->
<!--).then((res) => {-->
<!--    console.log(res);-->
<!--    // debugger;-->
<!--    console.log(res);-->
<!--    $("#area").val(d.译文);-->
<!--    }).catch((err) => {-->
<!--    console.log(err);-->
<!--    })-->
<!--   }-->
<!--</script>-->

</html>